langchain
anthropic
langchain-anthropic
langchain-community
langchain-text-splitters
python-dotenv
tiktoken
wikipedia
docx2txt
pypdf
pymupdf
requests==2.32.5
bs4
duckduckgo-search==7.5.0
ddgs==9.5.5
chromadb
langchain-chroma
langchain-huggingface
sentence-transformers<5
numpy<2
html2text
scikit-learn
rank_bm25
huggingface
datasets
pandas
torch
faiss-cpu
einops
scipy
qdrant-client
kagglehub
ipywidgets
matplotlib
openai
nest_asyncio
pytest
pytest-asyncio
fastapi
uvicorn
langgraph
langchain-qdrant
streamlit
pyyaml
